<!DOCTYPE html>
<html lang="en" class="">
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8"/>
		<title>Metronic | #1 Selling Ultimate Bootstrap Admin Dashboard Theme</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="" name="Metronic Launcher"/>
		<meta content="" name="KeenThemes"/>
		<meta name="description" content="Metronic - #1 Selling Premium Bootstrap Admin Dashboard Theme of All Time. Build with Twitter Bootstrap, SASS, AngularJS, Material Design. Trusted By Tens of Thousands Users."/>
		<link rel="canonical" href="http://keenthemes.com/" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Premium Bootstrap Admin Themes" />
		<meta property="og:description" content="Metronic - #1 Selling Premium Bootstrap Admin Theme of All Time. Build with Twitter Bootstrap, SASS, AngularJS, Material Design. Trusted By Tens of Thousands Users." />
		<meta property="og:url" content="http://keenthemes.com/" />
		<meta property="og:site_name" content="Keenthemes" />
		<meta property="article:publisher" content="https://www.facebook.com/keenthemes" />
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:description" content="Metronic - #1 Selling Premium Bootstrap Admin Theme of All Time. Build with Twitter Bootstrap, SASS, AngularJS, Material Design. Trusted By Tens of Thousands Users."/>
		<meta name="twitter:title" content="Premium Bootstrap Admin Themes"/>
		<meta name="twitter:domain" content="Keenthemes"/>
		<!--End of Zopim Live Chat Script-->
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'/>
		<!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>-->
		<link th:href="@{/_start/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/_start/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN THEME STYLES -->
		<link th:href="@{/_start/style.css}" rel="stylesheet" type="text/css"/>
		<!-- END THEME STYLES -->
	</head>
	<!-- END HEAD -->
	<!-- BEGIN BODY -->
	<body quick-markup_injected="true">
		<!-- BEGIN TOPBAR -->
		<div class="topbar navbar-fixed-top">
			<a class="topbar-logo" target="_blank" href="http://www.keenthemes.com"><img th:src="@{/_start/img/logo.png}" alt="Logo"/></a>
			<a class="topbar-purchase" data-hint="tooltip" data-original-title="Acesso Restrito" data-placement="bottom" th:href="@{/login}" target="_self" role="button">Login</a>
	    	<a class="topbar-link" data-hint="tooltip" data-original-title="Termos de Uso" data-placement="bottom" th:href="@{/_documentation/index.html}" target="_blank" role="button">Termos</a>
			<span class="topbar-sep"></span>
			<a class="topbar-link" data-hint="tooltip" data-original-title="Nossos serviços" data-placement="bottom" href="http://keenthemes.com/blog" target="_blank" role="button">Serviços</a>
			<a class="topbar-link" data-hint="tooltip" data-original-title="Fale Conosco" data-placement="bottom" th:href="@{/contato}" target="_self" role="button">Contato</a>
	    </div>
		<!-- END TOPBAR -->
		<!-- BEGIN BANNER -->
		<div class="banner">
			<div class="container">				
				<a data-hint="tooltip" data-original-title="Purchase Metronic today" data-placement="top" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank">
				<img th:src="@{/_start/img/metroniclogo.png}" class="product-logo" align="center"/></a>
				<h1 class="banner-title-main">Spring Framework Java <span class="banner-title-bold">AUTO CARE</span></h1>
				<p class="banner-title-paragraph">Ultimate Multipurpose Admin Theme With <b>7 Unique Layouts</b>, Over 1,000 Pages <br/>
					100+ Integrated Plugins &amp; 1,500+ UI Components
				</p>
				<a data-hint="tooltip" data-original-title="Purchase Metronic today" data-placement="top" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank">
				<span class="banner-quote">&#35;1 Selling Admin Theme Of All Time Trusted By Over 50,000 Professionals</span>
				</a>
				<br/>
				<a href="https://twitter.com/keenthemes" class="twitter-follow-button" data-show-count="true">softproenge@softproenge.com.br</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
			</div>
		</div>
		<!-- END BANNER -->
		<!-- BEGIN WIDGET BANNER -->
		<!-- END WIDGET BANNER -->
        <!-- BEGIN CUSTOMER FEEDBACK -->
        <!-- END CUSTOMER FEEDBACK -->
<div style="background: #f3f5f6; padding: 80px 0 80px 0"></div>
		<!-- BEGIN FOOTER -->
		<footer class="footer">
			<img class="footer-logo" src="_start/img/logo.png" alt="Logo"/>
			<ul class="list-inline social-icons">
				<li><a href="http://www.twitter.com/keenthemes" target="_blank" class="c-icon-link"><i class="icon-social-twitter"></i></a></li>
				<li><a href="http://dribbble.com/keenthemes" target="_blank" class="c-icon-link"><i class="icon-social-dribbble"></i></a></li>
				<li><a href="http://www.facebook.com/keenthemes" target="_blank" class="c-icon-link"><i class="icon-social-facebook"></i></a></li>
				<li><a href="http://themeforest.net/user/keenthemes/portfolio?ref=keenthemes" target="_blank" class="c-icon-link"><i class="icon-handbag"></i></a></li>
			</ul>
			<p class="copyright">Copyright &#64; <a href="http://keenthemes.com" target="_blank">Keenthemes</a></p>
		</footer>
		<!-- END FOOTER -->
		<!-- BEGIN JAVASCRIPTS -->
		<!-- BEGIN CORE PLUGINS -->
		<script th:src="@{/_start/plugins/jquery-1.11.0.min.js}" type="text/javascript"></script>
		<script th:src="@{/_start/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
		<script th:src="@{/_start/plugins/jquery.youtube.js}" type="text/javascript"></script>
		<script>
			$(document).ready(function(){
				$('[data-hint="tooltip"]').tooltip({
					container: 'body'
				})
			});
		</script>
	</body>
	<!-- END BODY -->
</html>